node_modules/
target/
dist/
build/
coverage/
*.log*
tmp/
.idea/
.vscode/
.mvn/
specs/
docs/
src/main/docker/
src/test/
src/test/**
cypress/
**/*.iml
**/*.ipr
**/*.iws
.eslintignore
.eslintrc*
.prettierrc*
.prettierignore
tsconfig.json
tsconfig.test.json
webpack/
jest.conf.js
postcss.config.js
sonar-project.properties
rnexchange.jdl
